body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1000px;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: aqua;
    font-weight: bold;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: blue;
}
.home-link {
    margin-right: 20px;
}
.aboutus-link {
    margin-right: 20px;
}
.contact-link {
    margin-right: 20px;
}

h1 {
    margin-top: 80px;
}

#contact-section {
    height: 280px;
    background-color: rgb(253, 225, 229);
    padding-top: 20px;
}
#contactform {
    border: 5px;
    border-style: solid;
    border-color: rgb(231, 152, 152);
    width: 400px;
    margin: auto;
    padding-bottom: 10px;
}
input {
    height: 20px;
}
#submit-button {
    background-color: rgb(231, 152, 152);
    color: white;
    width: 100px;
    height: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: aqua;
    border-top: 10px;
    border-top-style: solid;
    border-top-color: blue;
}