body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
header {
    display: flex;
    justify-content: end;
}
.home-link {
    margin-right: 20px;
}
.aboutus-link {
    margin-right: 20px;
}
.contact-link {
    margin-right: 20px;
}